// header03
header.header_03
	.headerWrap
		.visualBg
			#header_03_banner.banner
				.slides(data-u='slides')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img/header/h_03/tb/01.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/header/h_03/pc/01.jpg', media='(min-width: 1024px)')
							img(src='img/header/h_03/m/01.jpg', alt='picture01')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img/header/h_03/tb/02.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/header/h_03/pc/02.jpg', media='(min-width: 1024px)')
							img(src='img/header/h_03/m/02.jpg', alt='picture02')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img/header/h_03/tb/03.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/header/h_03/pc/03.jpg', media='(min-width: 1024px)')
							img(src='img/header/h_03/m/03.jpg', alt='picture03')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img/header/h_03/tb/04.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/header/h_03/pc/04.jpg', media='(min-width: 1024px)')
							img(src='img/header/h_03/m/04.jpg', alt='picture04')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img/header/h_03/tb/05.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/header/h_03/pc/05.jpg', media='(min-width: 1024px)')
							img(src='img/header/h_03/m/05.jpg', alt='picture05')
				.bullet(data-u="navigator", data-autocenter="1")
					div(data-u="prototype")
			.bannerCover
			.bannerTitle
			.iconWrap
				.scrollIcon
					.circle
					.arrow
						svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" x="0px", y="0px", viewBox="0 0 80 80", style="enable-background:new 0 0 80 80;", xml:space="preserve")
							g
								polyline(class="st0" points="78.5,24.6 40,54.8 2.1,24.6 ")
			.source 
		.detail
			.detailWrap
				.txtBg
				.txtInner
					.txtWrap
						.txtWidth.fadeOut
							.quote
								svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 27 24", style="enable-background:new 0 0 27 24;", xml:space="preserve")
									g
										path(class="st0", d="M7.8,0l5,3.6c-2.6,4.3-4,8.8-4.1,13.5V24H0v-5.8c0-3.4,0.7-6.7,2.2-10.1C3.7,4.8,5.5,2.1,7.8,0z M22,0l5,3.6c-2.6,4.3-4,8.8-4.1,13.5V24h-8.7v-5.8c0-3.4,0.7-6.7,2.2-10.1C17.8,4.8,19.7,2.1,22,0z")
							.txt(data-dotdotdot='true') 當全世界一同狂歡跨年、迎接嶄新的2017年時，人們往往會在心裡許下新希望，期盼在新的一年有所作為，而正式進入了萬象更新的1月份後，更是彷彿重獲新生，渾身充滿強勁的能量！跟著JUKSY按下人生F5鍵，重新啟動，Reborn as a great power！
					a.link(href='https://www.juksy.com/archives/61237', target='_blank')
						.linkWrap
							span.ch 馬上閱讀
							span.ch.arrow →
// header03 end