// layout03_infinite
section.layout_03_infinit.layout_03(data-menu='true')
	.layoutWrap(data-tags='["話題F5鍵"]',data-filter='[61224, 61237, 61163, 61253, 61254]')
		h2.title TOPIC
		.detail 話題F5鍵
		.subTitleWrap
			p.subTitle 新鮮有趣的娛樂話題一把抓！JUKSY不只掌握流行脈動，更是包含最新的綜藝快報、電影消息、旅遊美食…等，追蹤JUKSY，就能在新的一年Renew你的人生！
// layout03_infinite end