// layout05
section.layout_05(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.detail 1月焦點人物
		.subTitleWrap
			p.subTitle 
		ul.article
			li.fadeOut
				a.img.imgLoading(href='https://www.juksy.com/archives/61354', target='_blank', data-imgload='https://static.juksy.com/files/cover/61354/586f6c56c5a46.png?m=resize&i=600x600&e=jpg&q=75')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/61354', target='_blank')
						h3 【人生F5鍵】如果回到過去重新選擇，郭書瑤：「我還是會拍殺很大，只是.....」
			li.fadeOut
				a.img.imgLoading(href='https://www.juksy.com/archives/61237', target='_blank', data-imgload='https://static.juksy.com/files/cover/61237/587488afb7b5c.png?m=resize&i=600x600&e=jpg&q=75')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/61237', target='_blank')
						h3 緊繃繃才顯瘦？郭書瑤示範 3 招「大解放也超激瘦」穿法！
// layout05 end