// layout05
section.layout_05(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.detail 1月焦點人物
		.subTitleWrap
			p.subTitle 
		ul.article
			li.fadeOut
				a.img.imgLoading(href='https://www.juksy.com/archives/61224', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/61224', target='_blank')
						h3 學會對無理說「不」　郭書瑤：現階段我最幸福！
			li.fadeOut
				a.img.imgLoading(href='https://www.juksy.com/archives/61237', target='_blank', data-imgload='https://static.juksy.com/files/cover/58283/57fb721347c9e.png?m=resize&i=600x600&e=jpg&q=75')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/61237', target='_blank')
						h3 緊繃繃才顯瘦？郭書瑤示範 3 招「大解放也超激瘦」穿法！
// layout05 end