// layout06
section.layout_06(data-menu='true')
	.layoutWrap(data-engtitle='FASHION', data-title='流行F5鍵', data-description='2017年的流行趨勢究竟是復古還是前衛？別想那麼多，跟著JUKSY按下人生F5鍵，直接帶你光速穿越時空、來到未來，引領最新最快的新興潮流！', data-tags='["流行F5鍵"]',data-filter='[61224, 61237, 61163, 61253, 61254]')
// layout06 end